body{
    text-align: center;

}
h1{
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
    color: #66BFBF;
}
h2{
    font-family: 'Quicksand', sans-serif;
    color: #66BFBF;
}
h3{
    font-family: 'Quicksand', sans-serif;
    color: #33cccc; 
}
p{
    font-family: 'Gabriela', serif;
    color: black;
}