body{
    background-color: white;
    color: #50514E;
    margin:0;
    text-align: center;
}
h1{
    color: #66BFBF;
    font-family: 'Pacifico', cursive;
    font-size: 5.625rem;
    margin-block: 50px 0;
}
h2{
    color: #66BFBF;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
}
h3{
    color: #33cccc; 
    font-family: 'Quicksand', sans-serif;
}
p{
    font-family: 'Gabriela', serif;
    line-height: 2;
}
pre{
    font-family: 'Gabriela', serif;
    line-height: 1.5;
    margin-block: 40px;
}
a{
    color: #11999E; 
    font-family: 'Gabriela', serif;
    margin: 1% 2%;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
hr{
    border: none;
    border-top: dotted 0.6rem;
    color: #EAF6F6;
    margin: 100px auto 100px auto;
    width: 5%;
}
.top-container{
    background-color: #EAF6F6;
    padding-top: 6rem;
    position: relative;
}
.top-cloud{
    position: absolute;
    top:5%;
    right:20%;
}
.bottom-cloud{
    position: absolute;
    bottom:40%;
    left:15%;
}
.mid01-container{
    margin-block: 100px;
}
.intro-section{
    margin: 90px auto 90px auto;
}
.profile-pic{
    width: 9rem;
}
.interest-01{
    margin: 90px auto 90px auto;
    text-align:left;
    width: 60%
}
.technology-pic{
    float:left;
    margin-right: 25px;
    width:20%;
}
.interest-02{
    margin: 90px auto 90px auto;
    text-align:left;
    width: 60%
}
.photography-pic{
    float:right;
    margin-left: 25px;
    width: 20%;
}
.bttn {
    padding: 1% 2% 1% 2%;
    font-size:20px;
    font-family:'Quicksand', sans-serif;
    color:rgba(234, 246, 246, 1);
    font-weight:bold;
    border-radius:13px;
    background:linear-gradient(rgba(17, 205, 212, 1), rgba(17, 153, 158, 1));
}
.bttn:hover {
    background: linear-gradient(rgba(17, 153, 158, 1), rgba(17, 205, 212, 1));
}
                
.bottom-container{
    background-color: #33cccc;
    padding-block: 20px 5px;

}
.copyright{
    color: #EAF6F6;
    font-size: 0.7rem;
    padding-block: 20px 0;
}
